In [1]:
import pandas as pd
import numpy as np
import string
from collections import Counter
from utils import *
from vehicle import Vehicle

import networkx as nx
from bokeh.io import show, output_file, output_notebook
from bokeh.plotting import figure
from bokeh.models.graphs import from_networkx

## Estrazione dati con un piccolo parser dei dati

In [2]:
path='Instances/A2.txt'

In [3]:
#support
count = 0
#first 3 lines of the txt file
number_of_customers=0
one=0
number_of_vehicles=0
#vettori di informazione
vect_cord=[] #lista/vettore di coppiadi coordinate
vect_domanda=[] #linehaul
vect_carico=[] #backhaul
vec_b=[] #vettore delle istanze backhaul
vec_l=[] #vettore delle istanze linehaul
with open(path) as file:
    for line in file:
        #print(line)
        count+=1
        if count  == 1:
            number_of_customers=int((line.split())[0])
        if count  == 2:
            one=int((line.split())[0])
        if count == 3:
            number_of_vehicles=int((line.split())[0])
        if count > 3:
            vect_cord.append((int((line.split())[0]),int((line.split())[1])))
            vect_domanda.append((int((line.split())[2])))
            vect_carico.append((int((line.split())[3]))) 
            if int((line.split())[3]) == 0:
                vec_l.append(count-4) #il numero delle istanze linehaul
            if int((line.split())[3]) > 0:
                vec_b.append(count-4) # il numero delle istanze backhaul

#capacità massima di ogni mezzo
capacity=vect_carico[0]

In [4]:
df_data = pd.DataFrame({'': [number_of_customers, number_of_vehicles, capacity]},
                       index=['Number of customers', 'Number of Vehicles', 'Capacity'])

In [5]:
df_instances = pd.DataFrame({'Cordinate X': [ x[0] for x in vect_cord],
                             'Cordinate Y': [ x[1] for x in vect_cord], 
                             'Linehaul': vect_domanda, 
                             'Backhaul' : vect_carico,
                            })

In [6]:
df_data

Number of customers    25
Number of Vehicles      5
Capacity             2550

all'indice 0 è riportato il magazzino. dove il campo Backhaul rappresenta la capacità massima

In [7]:
df_instances

    Cordinate X  Cordinate Y  Linehaul  Backhaul
0         12000        16000         0      2550
1          9795        21510         0       549
2          7758        10895         0       558
3         12927         2464         0       851
4         23286         5538         0       388
5          7416        15826         0       194
6         21524        24879       483         0
7         22337        17915       389         0
8          7642         9722       435         0
9          3707        20036       452         0
10        15492         2721       343         0
11        12430        10638       444         0
12        13595         1918       350         0
13         4290         2721       307         0
14        18684         5268       810         0
15         8686         9546      1002         0
16        23140        10989       476         0
17         5263        14289       674         0
18        19557        17564       691         0
19        23281        29684       675         0
20          374        22683       410         0
21        18804         9082       351         0
22         5444        25004       786         0
23        20390        25745        59         0
24         4310        21692       362         0
25         8526         2495       550         0

mantengo segno delle istanze segnate come lineahul

In [8]:
vec_l

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

mantengo segno delle istanze segnate come backhaul

In [9]:
vec_b

[0, 1, 2, 3, 4, 5]

## Calcolo dei Dati raccolti

In [10]:
distance = distance_matrix(vect_cord)

In [11]:
saving=saving_matrix(distance)

In [12]:
dict_Saving_Order=savingOrder(saving)

In [13]:
dict_b, dict_l , dict_merge= route_Linehaul_Backhaul(dict_Saving_Order, vec_b, vec_l)

## Inizializzo la lista delle rotte

In [14]:
list_route = []
set_iniziale = {0}
set_first = {0}
set_visited = {0}
lista_keys= list(dict_l.keys())
for k in lista_keys:
    if len(list_route) < number_of_vehicles and k[0] not in set_iniziale and k[1] not in set_iniziale:
        list_route.append(Vehicle([0, k[0], k[1]], vect_domanda[k[0]]+vect_domanda[k[1]],
                         distance[0][k[0]]+distance[k[0]][k[1]]))
        set_iniziale.add(k[0])
        set_iniziale.add(k[1])
        set_first.add(k[0])
        set_visited.add(k[0])
        set_visited.add(k[1])

In [15]:
remove_first_instance(dict_l, set_first)

In [16]:
for e in list_route:
    print(e.route)

[0, 10, 12]
[0, 19, 23]
[0, 13, 25]
[0, 20, 22]
[0, 14, 21]

In [17]:
for e in list_route:
    print(e.cost)

15790.429414561953
22620.57122579125
19597.021781400912
18985.950104847245
16459.133733441053

In [18]:
c = 0
while(len(dict_l)>0 and c < len(list_route)):
    lista_keys = list(dict_l.keys())
    for k in lista_keys:
        if list_route[c].route[-1] in k \
        and list_route[c].weight + vect_domanda[different(list_route[c].route[-1],k)] <= capacity \
        and k[1] not in set_visited:
            list_route[c].add_route(k)
            list_route[c].add_weight(vect_domanda[different(list_route[c].route[-1],k)])
            set_visited.add(list_route[c].route[-1])
            list_route[c].add_cost(distance[k[0]][k[1]])
    
    list_route[c].delivery = list_route[c].weight
    list_route[c].weight = 0
    c += 1

In [19]:
set_visited

{0, 10, 12, 13, 14, 16, 18, 19, 20, 21, 22, 23, 24, 25}

In [20]:
for e in list_route:
    print(e.route)

[0, 10, 12, 16, 18, 24]
[0, 19, 23]
[0, 13, 25]
[0, 20, 22]
[0, 14, 21]

In [21]:
for e in list_route:
    print(e.delivery)

2210
734
857
1196
1161

In [22]:
set_visited

{0, 10, 12, 13, 14, 16, 18, 19, 20, 21, 22, 23, 24, 25}